<footer id="footer">
	<div class="footer-note">
		<p>
			điều khoản sử dụng | cài đặt và gỡ bỏ<br>
			chơi game quá 180 phút có hại cho sức khỏe
		</p>
	</div>
</footer>
<div class="float-right">
	<div class="float-right__menu pc">
		<img src="<%= RELATIVE_PATH %>img/bg-menu.png" alt="Võ Hiệp Truyền Kỳ">
		<div class="float-right__menu-option">
			<div class="float-right__menu-option-item --01">
				<img src="<%= RELATIVE_PATH %>img/close-menu.png" alt="img" class="img-01">
				<img src="<%= RELATIVE_PATH %>img/close-menu-hv.png" alt="img" class="img-02">
			</div>
			<div class="float-right__menu-option-item --02">
				<img src="<%= RELATIVE_PATH %>img/open-menu.png" alt="img" class="img-01">
				<img src="<%= RELATIVE_PATH %>img/open-menu-hv.png" alt="img" class="img-02">
			</div>
		</div>
		<div class="float-right__menu-block">
			<a href="" class="float-right__menu-logo">
				<img src="<%= RELATIVE_PATH %>img/menu-heading.png" alt="img" class="img-01">
				<img src="<%= RELATIVE_PATH %>img/menu-heading-hv.png" alt="img" class="img-02">
			</a>
			<ul class="float-right__menu-nav">
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/menu-01.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/menu-01-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/menu-02.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/menu-02-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/menu-03.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/menu-03-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/menu-04.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/menu-04-hv.png" alt="img" class="img-02">
					</a>
				</li>
			</ul>
			<ul class="float-right__menu-sns">
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/sns-01.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/sns-01-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/sns-02.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/sns-02-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/sns-03.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/sns-03-hv.png" alt="img" class="img-02">
					</a>
				</li>
				<li>
					<a href="">
						<img src="<%= RELATIVE_PATH %>img/sns-04.png" alt="img" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/sns-04-hv.png" alt="img" class="img-02">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<a href="" class="float-right__top js-backtop">
		<img src="<%= RELATIVE_PATH %>img/top.png" alt="Top" class="img-01">
		<img src="<%= RELATIVE_PATH %>img/top-hv.png" alt="Top" class="img-02">
	</a>
</div>

<div class="popup " id="popup-youtube">
	<div class="popup-show popup-show--ytb">
		<div class="popup-show__close"><img src="<%= RELATIVE_PATH %>img/close.png" alt="close"></div>
		<div class="popup-show__ytb">
			<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/3lJKGY7nzRE?si=M8xVnQelwbUWORD9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
	</div>
</div>