<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Võ Hiệp Truyền Kỳ">
	</a>
	<nav class="header-nav">
		<div class="header-nav__logo sp-tb">
			<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Võ Hiệp Truyền Kỳ">
		</div>
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="" class="<% if(pageData.template == 'index'){ %> active <% } %>">Trang chủ </a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Tin tức</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Sự kiên</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Tính năng</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Hướng dẫn</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Cộng đồng</a>
			</li>
			<li class="header-nav__menu-item sp-tb">
				<a href="tel:1900900">
					<span>Hotline</span>
					1900900
				</a>
			</li>
		</ul>
		<ul class="header-nav__sns sp-tb">
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/sns-01-sp.png" alt="img">
				</a>
			</li>
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/sns-02-sp.png" alt="img">
				</a>
			</li>
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/sns-03-sp.png" alt="img">
				</a>
			</li>
			<li>
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/sns-04-sp.png" alt="img">
				</a>
			</li>
		</ul>
	</nav>
	<a href="tel:1900900" class="hostline pc-tb">
		<img src="<%= RELATIVE_PATH %>img/hotline.png" alt="hotline">
	</a>
	<ul class="header-btn sp-tb">
		<li>
			<a href=""><img src="<%= RELATIVE_PATH %>img/btn-nap.png" alt="img"></a>
		</li>
		<li>
			<a href=""><img src="<%= RELATIVE_PATH %>img/btn-dk.png" alt="img"></a>
		</li>
	</ul>
	<span class="js-mobile">
		<span></span>
	</span>

</header>